*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Poppins,sans-serif;
    background:#121212;
    color:white;
}

header{
    position:sticky;
    top:0;
    background:#1f1f1f;
}

nav{
    max-width:1100px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
}

section{
    max-width:1100px;
    margin:auto;
    padding:90px 20px;
}

.hero{
    text-align:center;
    min-height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.hero span{
    color:#4ea8ff;
}

.btn{
    display:inline-block;
    margin-top:25px;
    background:#4ea8ff;
    color:white;
    padding:12px 30px;
    border-radius:8px;
    text-decoration:none;
}

.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
    gap:20px;
}

.skills-grid div,
.project-card{
    background:#222;
    padding:20px;
    border-radius:10px;
    transition:.3s;
}

.skills-grid div:hover,
.project-card:hover{
    transform:translateY(-5px);
}

.socials{
    margin-top:20px;
}

.socials a{
    color:white;
    font-size:30px;
    margin-right:20px;
}

footer{
    text-align:center;
    padding:30px;
}

.light{
    background:white;
    color:#222;
}